*{
    margin: 0px;
    padding: 0px;
}

/* Estilos para o corpo da página */
body {
    background: linear-gradient(135deg, #020a1d, #00c48a); 
    color: #fff; 
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
}

/* Estilos para o cabeçalho */
header h1 {
    font-size: 2.5rem; 
    color: #ffffff; 
    text-align: center; 
    letter-spacing: 0.4rem; 
    padding-top: 50px;
    margin-bottom: 2rem; 
}

/* Estilos gerais para as seções */
section {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3rem; 
}

/* Estilos para o campo de pesquisa */
#search-section input {
    width: 30rem; 
    border: 1px solid #00c48a; 
    padding: 1rem; 
    border-radius: 1.5rem; 
    margin-bottom: 1rem; 
    color: #333; 
    font-size: 1rem;
    box-sizing: border-box;
}

#search-section button {
    padding: 0.8rem 1.2rem; 
    border: none; 
    border-radius: 1.5rem; 
    background-color: #00c48a; 
    color: #ffffff; 
    font-size: 1rem; 
    cursor: pointer;
}

/* Adiciona efeito hover ao botão de pesquisa */
#search-section button:hover {
    background-color: #021238;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); 
}
/* Estilos para os botões de tópicos */
#buttons-section {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    margin-bottom: 20px;
}

#buttons-section button {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #021238;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#buttons-section button:hover {
    background-color: #00c48a; 
}

#results {
    margin: 0px;
}

/* Estilos para os cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.card-primeiro {
    margin: 10px;
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-segundo {
    padding: 15px;
}

.card-segundo img {
    width: 100%; 
    height: auto;
}

.card-segundo .texto {
    margin-top: 10px;
}

.card-segundo .texto a {
    display: block;
    color: #004dff; 
    text-decoration: none;
    margin-top: 5px;
}

.card-segundo .texto a:hover {
    text-decoration: underline;
}

.votos {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contador {
    font-size: 1rem;
    color: #333;
}

.votar {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #007bff;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
}

.votar:hover {
    background-color: #0056b3;
}

